<% layout('/layout') %>
<% block('title', 'Pinterest-Clone')%>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="" defer></script>
<script src="/script.js" defer></script>

<div>
<br>
<br>
<div style="display:inline;">
<h2 style="text-align:left;"> Go to "MY IMAGES" for Images Search </h2>
<h2 style="text-align:right;"> Click an Image to Go to Contributors Page </h2>
</div>
<div class="grid">
    <% library.forEach(function(lib){ %>
    <div  class="grid-item grid-item--width2 grid-item--height2" >   
     <a id="tooltip" href="/pages/<%= lib.owner%>"><img class=" grid-item--width1 grid-item--height1" src=<%= lib.img  %> onerror="imgError(this);" /><span class="tooltiptext">Enlarge Image In Contributors Page</span></a>
    <p><%= lib.title %></p>
    <div class="linedup">
   <a type="button" id="<%=lib.img%>" class="" onClick='clic(this);' name="<%= lib.title %>" ><span class="glyphicon glyphicon-heart"></span> </a><p><%= lib.likes  %></p>
   </div>
  </div>
     <% }) %> 
</div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>