<% layout('/layout') %>
<% block('title', 'My Books')%>

<script type="text/javascript" src="" defer></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/script.js" defer></script>



<div class="container"> 
   <h2> My Books </h2>
      <div class="row" >
        <div id="book_tributes">
            <% library.forEach(function(lib){ %>
          <ul>
            <div class="col-xs-4 col-sm-2"> 
            <li> 
              <div class="wrapper"> 
                <img src=<%= lib.img %>  width=120> <a class="btn-small remove3" id="<%= lib.title %>" onClick='permanentRemoval(this);' name="<%= lib.author %> "><span class="glyphicon glyphicon-remove"></span> </a>
                </div>
                <h5><%= lib.title %></h5>
                <p><%= lib.author %></p> 
             
            </li>
            </div> 
         </ul>
             <% }) %> 
       </div> 
    </div> 
</div> 



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>